extends layout

block content
  h1= error
  pre #{error_description}
  script.
    var auth0 = new auth0.WebAuth({
      domain: '#{AUTH0_DOMAIN}',
      clientID: "#{AUTH0_CLIENT_ID}"
    });
    window.setTimeout(function () {
      debugger;
      auth0.logout({clientID: '#{AUTH0_CLIENT_ID}', returnTo: 'http://localhost:3000/logout'})
    }, 5000);